{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To do</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'frontend/css/style.css' %}">
</head>
<body>
    <div class="flex-wrapper" id="navbar">
    </div>
    <div class="container">
        <div id="task-container">
            <div id="form-wrapper">
                <form action="" id="form">
                    <div class="flex-wrapper">
                        <div style="flex: 6;">
                            <input type="text" class="form-control" id="title"
                            name="title" placeholder="Add task">
                        </div>
                        <div style="flex: 1;">
                            <input type="submit" class="btn" id="submit">
                        </div>
                    </div>
                </form>
            </div>
            <div id="list-wrapper">
            </div>
        </div>
    </div>
    <script src="{% static 'frontend/js/list.js' %}"></script>
</body>
</html>