{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    
    <link rel="stylesheet" href="{% static 'frontend/css/style.css' %}">
</head>
<body>
    <div class="flex-wrapper" id="registerbox">
        <div class="form-input-wrapper">
            <h4 id="register-row">Username: <input type="text" id="login-input username"></h4>
            <h4 id="register-row">Password: <input type="password" id="login-input password"></h4>
        </div>
        <button class="btn" id="login-submit">Sign in</button>
        <p>Don't have an account? <a href="http://127.0.0.1:8000/register">Register</a></p>
    </div>
    <script src="{% static 'frontend/js/login.js' %}"></script>
</body>
</html>