{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To do</title>

    <link rel="stylesheet" href="{% static 'frontend/css/style.css' %}">

    <script src="{% static 'frontend/js/open.js' %}"></script>
</head>
<body>
    <div class="flex-wrapper" id="navbar">
        <a href="http://127.0.0.1:8000/register"><button class="btn">Register</button></a>
        <a href="http://127.0.0.1:8000/login"><button class="btn">Login</button></a>
    </div>
    <div>
        <h1 id="opentitle">Welcome to Todo app</h1>
    </div>
</body>
</html>