{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>

    <link rel="stylesheet" href="{% static 'frontend/css/style.css' %}">
</head>
<body>
    <div class="flex-wrapper" id="registerbox">
        <div class="form-input-wrapper">
            <h4 class="register-row">Username <span style="color: red;">*</span></h4>
            <input type="text" id="login-input username">
            <div id="username-errors">
            </div>
            <h4 class="register-row">Password  <span style="color: red;">*</span></h4>
            <input type="password" id="login-input password">
            <div id="password-errors">
            </div>
            <h4 class="register-row">Re-Password  <span style="color: red;">*</span></h4>
            <input type="password" id="login-input repassword">
            <div id="repassword-errors">
            </div>
            <h4 class="register-row">Email</h4>
            <input type="text" id="login-input email">
            <div id="email-errors">
            </div>
        </div>
        <button class="btn" id="login-submit">Sign up</button>
        <p>Having an account? <a href="http://127.0.0.1:8000/login">Login</a></p>
    </div>
    <script src="{% static 'frontend/js/register.js/' %}"></script>
</body>
</html>